<header>
	<div class="navbar-header">	
		<nav class="navbar navbar-fixed-top navbar-inverse">
			<a class="navbar-brand" href="#">Sample App</a>	
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Home", '../#' %></li>
				<li><a href="help">Help</a></li>
				<li><%= link_to "Contact",'#' %></li>
				<li><a href="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      			
		          <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

      			<% if logged_in? %>
		          	<li><%= link_to "Users", '#' %></li>
		          	<li class="dropdown">
		            	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
		            	<ul class="dropdown-content">
		              	<li><%= link_to "Profile", current_user %></li>
		              	<li><%= link_to "Settings", '#' %></li>
		              	<li class="divider"></li>
		              	<li>
		                <%= link_to "Log out", logout_path, method: "delete" %>
		              </li>
		            </ul>
		          </li>
		        <% else %>
		        	
		        <% end %>
    		</ul>
		</nav>
	</div>
</header>