<header>
	<div class="navbar-header">	
		<nav class="navbar navbar-fixed-top navbar-inverse">
			<a class="navbar-brand" href="#">Sample App</a>	
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Home", '../#' %></li>
				<li><a href="help">Help</a></li>
				<li><%= link_to "Contact",'#' %></li>
				<li><%= link_to "Users", users_path %></li>
				<!-- <li><a href="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
				<li><%= link_to "SignUp", signup_path, class: "glyphicon glyphicon-user" %></li>
				<li><%= link_to "Login",login_path,class: "glyphicon glyphicon-log-in" %></li>
      			
		         <!--  <li><a href = "login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->

      			<% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <!-- <li><%= link_to "Log in", login_path %></li> -->
        <% end %>
    		</ul>
		</nav>
	</div>
</header>